html, body {
    height: 100%;
    margin: 0;
    font-family: 'Helvetica', sans-serif;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.container {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

#inputField {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-bottom: 1px solid #4CAF50;
    outline: none;
}

#addToDo {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

#addToDo:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.paragraph-styling {
    margin: 0;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.paragraph-styling:hover {
    background-color: #f2f2f2;
}

.to-dos {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
}
